body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 0;
    margin: 0;
    background: turquoise;
    font-family: 'Times New Roman', Times, serif;
}

.post-title {
    border-bottom: 2px solid black;
    width: 95%;
    text-align: center;
    padding: 0 0 10px 0;
    border-radius: 8px;
}

header {
    width: 100%;
    height: 60px;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-container {
    background: teal;
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    gap: 20px;
    font-size: 20px;
    border-radius: 15px;
}

.user-container a {
    text-decoration: none;
    color:black;
}

.user-container a:hover {
    text-decoration: overline;
    color: aliceblue;
}

.user-container img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.post-box {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 95%;
    gap: 5px;
    justify-content: center;
}

.post-box .post-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.314);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.post-box .post-container a {
    text-decoration: none;
    color: black;
}

.post-box .post-container a:hover {
    text-decoration: overline;
    color: whitesmoke;
}

footer {
    width: 100%;
    height: 60px;
    background: rgb(23, 23, 23);
    display: flex;
    align-items: center;
    font-size: 18px;
    color: whitesmoke;
    justify-content: space-between;
    padding: 0 40px 0 40px;
    box-sizing: border-box;
}

footer .copyrights-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

footer .copyrights-box img {
    width: 20px;
    height: 20px;
}
