@media (max-width: 1000px) {
    .post-box {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 750px) {
    .post-box {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 550px) {
    .post-box {
        grid-template-columns: repeat(2, 1fr);
    }
    
    footer {
        flex-direction: column;
        height: auto;
        padding: 20px 0 0 0;
    }

    footer .supported-by-step-it-academy {
        margin-top: 0;
    }
}


